## [Start] Setting "suspended" to default value of "false". **
$util.qr($context.args.input.put("suspended", $util.defaultIfNull($ctx.args.input.suspended, false)))
## [End] Setting "suspended" to default value of "false". **
## [Start] Setting "isConnected" to default value of "false". **
$util.qr($context.args.input.put("isConnected", $util.defaultIfNull($ctx.args.input.isConnected, false)))
## [End] Setting "isConnected" to default value of "false". **
## [Start] Setting "isAdminWaaa" to default value of "false". **
$util.qr($context.args.input.put("isAdminWaaa", $util.defaultIfNull($ctx.args.input.isAdminWaaa, false)))
## [End] Setting "isAdminWaaa" to default value of "false". **
{}